<!DOCTYPE html>
<html>
<head>
  <title>Upload Nesstar ZIP</title>
</head>
<body>
  <h2>Upload Dataset (.zip)</h2>

  <form action="/upload_form/" method="post" enctype="multipart/form-data">
    <label for="schema">Select Data Category:</label>
    <select name="schema" id="schema" required>
      <option value="annual_survey_of_industries">Annual Survey of Industries</option>
      <option value="index_of_industrial_production">Index of Industrial Production</option>
      <option value="household_consumption_expenditure">Household Consumption Expenditure</option>
      <option value="economic_census">Economic Census</option>
      <option value="enterprises_surveys">Enterprises Surveys</option>
      <option value="periodic_labour_force_survey">Periodic Labour Force Survey</option>
      <option value="employment_and_unemployment">Employment and Unemployment</option>
      <option value="land_and_livestock_holding_surveys">Land and Livestock Holding Surveys</option>
      <option value="other_surveys">Other Surveys</option>
    </select>
    <br><br>

    <input type="file" name="file" required>
    <br><br>

    <button type="submit">Upload</button>
  </form>
</body>
</html>
